parameters:
    level: 8
    paths:
        - %rootDir%/src/

    excludePaths:
        # Makes PHPStan crash
        - 'src/DependencyInjection/MonsieurBizSyliusContactRequestExtension.php'

        # Test dependencies
        - 'tests/Application/**/*'

        # Menu Provider
        - 'src/Menu/ContactUrlProvider.php'

    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
    reportUnmatchedIgnoredErrors: false
